*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    background-image: url(../Screenshot\ 2025-08-26\ 122115.png);
    background-size: cover;
    height: 100vh;
}
ul li{
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin: 30px 15px;
}
li:first-child{
    font-size: 25px;
    margin-right: 300px;
}
li:last-child{
    margin-left: 500px;
}
.dot{
    display: inline-block;
    width: 5px;
    border-radius: 50%;
    background-color: white;
    height: 5px;
    margin-bottom: 7px;
}
.second-section{
    margin-top: 80px;
    margin-left: 80px;
    font-size: 30px;
}
.second-section p{
    display: inline-block
}
.second-section .big{
    font-weight: bold;
}
.second-section .small{
    font-size: 16px;
}
.second-section h1{
    font-size: 200px;
    text-align: right;
    font-weight: bolder;
    display: inline-block;
    margin-left: 350px;
}
.third-section{
    margin: 100px 80px;
}
.card{
    display: inline-block;
    margin-left: 80px;
}
.card img{
    width: 350px;
    height: 400px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card .info-card{
    margin-left: 10px;
}
.card .info-card h4{
    margin-bottom:9px ;
}
.card .info-card p{
    font-size: 13px;
}
.four-section{
    height: 100vh;
}
.four-section hr{
    margin-top: 200px;
    color: #252422;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.four-section .four-list{
    color: #252422;
}
.four-section .four-list li{
    margin-left: 40px;
    color: #252422;   
    font-size: 10px;
    margin-top: -30px;
}
.four-section .four-list li:last-child{
    display: inline-block;
    width: 10px;
    margin-left: 95%;
    margin-bottom: 0;
    border-radius: 50%;
    background-color: #252422;
    height: 10px;
}
.four-section h2{
    margin-left: 80px;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.four-section{
    margin: 10px 80px;
}
.card1{
    display: inline-block;
    margin-left: 80px; 
}
.card1 img{
    width: 150px;
}
.card1 hr{
    margin-bottom: 200px;
    margin-top: 5px;
    width: 25px;
    margin-right: 89%;
    height: 1px;
    background-color: #252422;
}
.card1 .info-card h4{
    margin-bottom:9px ;
    color: #252422;
}
.card1 .info-card p{
    font-size: 13px;
    color: #252422;
}
.card1 .info-card p span{
    text-decoration: underline;
}
.five-section{
    background-color: #252422;
    height: 130vh;
    display: inline-block;
    width: 100%;
}
.five-section div p{
    margin-top: 50px;
    color: #f9cdcd;
    font-size: 80px;
    font-weight: 900;
    margin-left: 80px;
    display: inline-block;
    
}
.five-section div p span{
    font-size: 16px;    
}
.five-section div p .btn{
    color: #f9cdcd;
    background-color: #252422;
    width: 00px;
    height: 20px;
    border: 2px solid #f9cdcd;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 100;
    padding: 15px;
}
.five-section div p .btn:hover{
    cursor: pointer;
    background-color: #f9cdcd;
    color: #252422;
}
.five-section div img{
    margin-bottom: 30px;
    height: 103vh;
    width: 400px;
    text-align: right;
}
.six-sextion{
    display: inline-block;
    margin-bottom: 80px;
}
.six-sextion hr{
    width: 95%;
    margin: 0 auto;
    color: #252422;
    margin-bottom: 20px;
    margin-top: 50px;
}
.six-sextion .card2{
    margin: 0 auto;
    
    width: 100%;
}
.six-sextion .card2 img{
    width: 400px;
    margin-left: 80px;
    margin-right: 20px
}
.six-sextion .card2 p{
    text-align: left;
    float: right;
    font-size: 30px;
    font-weight: 700;
    flex-direction: row;
    margin-right: 250px;
}
.six-sextion .card2 p span{
    font-size: 10px;
    font-weight: 700;
}
.footer{
    background-color: #252422;
    height: 30vh;
    width: 100%;
}
.footer ul li{
    float: left;
}
.footer ul li span:last-child{
    text-decoration: underline;
}
 .foot-list li{
    font-size: 12px;
     background-color: #252422;
     padding-right: 80px;
     margin-left: auto;
   
}


.foot-list li:first-child{
    font-size: 12px;
    padding-right:420px ;

}
.footer_li{
    font-size: large;

}
.foot-list{
    background-color: #252422;
   
}

.footerouter{
   
 background-color:  #252422; 
    width: 100%;            
    padding: 20px 80px;       
    

}